<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WorkStatus">
    <insert id="insertDept" parameterType="Map">
        INSERT INTO DEPT (DEPT_PK_ID, DEPT_NAME) VALUES
        (#{DEPT_PK_ID},#{DEPT_NAME})
    </insert>

</mapper>
