<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmployeeAttendance">
    <insert id="insertEAS" parameterType="Map">
        INSERT INTO EMPLOYEE_ATTENDANCE (WORK_ATT_PK_ID, EMPLOYEE_FK_ID, WORK_STAT_FK_ID, DATE)
        VALUES (#{WORK_ATT_PK_ID}, #{EMPLOYEE_FK_ID}, #{WORK_STAT_FK_ID}, #{DATE})
    </insert>
</mapper>
